@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Raleway:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@600&family=Raleway:wght@200&display=swap');
.App {
  text-align: center;
}
.main{
  display:flex;
  flex-wrap: wrap;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar-brand{
  color:aliceblue;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
::placeholder { 
  color: black;
  opacity: 1;
  font-weight: 500;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.link2{
  padding: 0.4%;
  color:white;
  font-weight: 1600;
  background-color:#282c348e;
  margin-left:1%;
  width:5%;
  position:absolute;
  height:70%;
  border-color:transparent;
  border-radius: 20px;
  border-width:4px;
  transition: 0.7s;
  border-style:solid;
  border-color:rgba(255, 255, 255, 0.354);
  text-decoration: none;
  text-align: center;
  font-weight:500;
  left:10%
}
.link2:hover{
  border-color:antiquewhite;
  background-color: black;
  color:white;
}
.link3{
  padding: 0.4%;
  color:white;
  font-weight: 1600;
  background-color:#282c348e;
  margin-left:1%;
  width:5%;
  position:absolute;
  height:70%;
  border-color:transparent;
  border-radius: 20px;
  border-width:4px;
  transition: 0.7s;
  border-style:solid;
  border-color:rgba(255, 255, 255, 0.354);
  text-decoration: none;
  text-align: center;
  left:18%;
  font-weight:500;
}
.link3:hover{
  border-color:antiquewhite;
  background-color: black;
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info{
  position:absolute;
  top:50%;
  left:5%;
  right:5%; 
}
body{
  font-family: 'Dosis', sans-serif;
  font-family: 'Raleway', sans-serif;
  color:antiquewhite;
  background-image: url('wp2445768.webp');
  background-size: cover;
}
.ipbx{
  width:50%;
  position:absolute;
  left:30%;
  height:70%;
  border-width:4px;
  border-color: transparent;
  border-radius: 20px;
  transition: 0.7s;
  border-style:solid;
  border-color: #282c34;
  text-align: center;
  font-weight: 500;
  font-size: larger;
  background-color: transparent;
  color:white;
}

.ipbt{
  margin-left:1%;
  width:5%;
  position:absolute;
  left:80%;
  height:70%;
  border-color:transparent;
  border-radius: 20px;
  border-width:4px;
  transition: 0.7s;
  border-style:solid;
  border-color: #282c34;
  font-weight: 900;
}
.ipbt:hover{
  border-color:antiquewhite;
  background-color: black;
  color:white;
}
.ipbx:hover{
  border-color:beige
}
.ipbx{
  width:50%;
  position:absolute;
  left:30%;
  height:70%;
  border-width:4px;
  border-color: transparent;
  border-radius: 20px;
  transition: 0.7s;
  border-style:solid;
  border-color: #282c34;
  text-align: center;
  font-weight: 500;
  font-size: larger;
  background-color: transparent;
  color:white;
}

.iplo{
  margin-left:1%;
  width:5%;
  position:absolute;
  left:86%;
  height:70%;
  border-color:transparent;
  border-radius: 20px;
  border-width:4px;
  transition: 0.7s;
  border-style:solid;
  border-color: #282c34;
  font-weight: 900;
  background-color: red;
}
.iplo:hover{
  border-color:antiquewhite;
  background-color: black;
  color:white;
}
.iplo:hover{
  border-color:beige
}
.info{
  position: absolute;
  top:20%;
  background-color: #00000045;
  padding:4%;
  border-radius:40px;
  width:37%;
  position: absolute;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.715) 0px 15px 20px;
  transition: 0.5s ease;
  height: 70%;
  padding-bottom: 2%;
  padding-top: 3%;
}
.info:hover{
  box-shadow: rgb(0, 0, 0) 0px 15px 20px;
  transition: 0.5s ease;
}
.fullinfo{
  display:flex;
  flex-direction: row;
  
}
/* .info .temp p{
  font-size: 450%;
}
.info .aa{
  display:flex;
  flex-direction: column;
  margin-right:10%;
} */
.newsmain{
  width:50%;
  position: absolute;
  left:44%;
  top:20%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.564);
  height: 70%;
  border-radius:30px;
  margin-right:5%;
  bottom:5%;
  align-content: center;
  padding: 3%;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.715) 0px 15px 20px;
}
.news1 a {
  padding-top: 10%;
}

.newsmain .news1{
  border-radius: 20px;
  width: 80%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.386);
  height:80%;
  padding:5%;
  font-size: larger;
  box-shadow: rgba(0, 0, 0, 0.715) 0px 15px 20px;
  transition: 0.5s ease;
}
.newsmain:hover{
  box-shadow: rgb(0, 0, 0) 0px 15px 20px;
  transition: 0.5s ease;
}
.newsmain .more{
  position: absolute;
  bottom: 0%;
  padding: 3%;
  text-align: center;
}
.newsmain .news1 img {
  width:25%;
  margin-bottom: 5%;
}
.resp1 {
  background-color: rgba(0, 0, 0, 0.322);
  position: absolute;
  left:5%;
  width:89%;
  height: 8%;
  top:10%;
  padding:1%;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 1000;
  box-shadow: rgba(0, 0, 0, 0.461) 0px 15px 20px;
  transition: 0.5s ease;
}
.resp1:hover{
  box-shadow: rgba(0, 0, 0, 0.612) 0px 15px 20px;
  transition: 0.5s ease;
}

.newsmain .more{
    height: 15%;
    margin-bottom: 1%;
    font-size: 25px;
    width:90%;
    border-color: #282c34;
    background-color: #282c34;
    border-radius: 20px;
    color:aliceblue;
    font-weight: 700;
    text-align: center;
    align-self: center;
}

.FormBox{
  position: absolute;
  left:30%;
  top:17%;
  width:40%;
  background-color: azure;
  padding: 3%;
  min-height: 30%;
  border-radius: 30px;
  height: fit-content;
  padding-bottom: 1%;
  transition: 0.5s ease;
  align-self: center;
}
.FormBox:hover{
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 54px 55px, rgba(0, 0, 0, 0.3) 0px -12px 30px, rgba(0, 0, 0, 0.28) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.FormBox form{
  display: flex;
  flex-direction: column;
}
.FormBox form input{
  margin:3%;
  padding: 1%;
  width: 75%;
  align-self: center;
  height: 20%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 110%;
}
.FormBox form label{
  margin:3%;
  padding: 1%;
  width: 75%;
  align-self: center;
  height: 20%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 110%;
  display: flex;
  font-size: 150%;
  cursor: pointer;
  color: #000000;
}
.FormBox form p{
  align-self: center;
}

.FormBox form input:focus{
  outline: none;
}
.FormBox form #S{
  width:35%;
  padding: 2.5%;
  background-color: #282c34;
  color: aliceblue;
  border-radius: 25px;
  font-weight: 450;
  transition: 0.3s ease;
}
.FormBox form #S:hover{
  background-color: #000000;
  transition: 0.3s;
}

.Navs{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 30%;
  font-size: 25px;
  width: 100%;
}
.Navs p{
  margin-right: 2%;
}


.redir{
  position:absolute;
  top:110%;
  left:30%;
  text-decoration: none;
  /* background-color:aliceblue; */
  font-size: 35px;
  color:#282c34;
  padding: 3%;
  background-color: dimgrey;
  border-radius: 20px;
  font-weight: 600;
}

/* Notes page css */
.Notes{
  height: 100%;
  width: 100%;
  position: fixed;
}
.Notes .notepad{
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  top:10%;
  position: absolute;
  left:5%;
  width:30%;
  height:43%;
  background-color: #282c3472;
  box-shadow: rgba(0, 0, 0, 0.412) 0px 15px 20px;
}
.inpform{
  display: flex;
  flex-direction: column;
  position: absolute;
  width:100%;
  padding: 3%;
}
.notepad:hover{
  box-shadow: rgba(0, 0, 0, 0.712) 0px 15px 20px;
  transition: 0.5s ease;
}
.inpform input{
  padding:2%;
  width:80%;
  margin: 3%;
  border-radius: 20px;
  font-size: 25px;
  align-self: center;
}
.inpform input:hover{
  box-shadow: rgba(0, 0, 0, 0.612) 0px 15px 20px;
  transition: 0.5s ease;
}
.inpform .addbtn{
  font-weight: 800;
  font-size: 25px;
  color:aliceblue;
  background-color: #282c34;
  border-color:antiquewhite;
  padding: 2%;
  width:80%;
  border-radius: 25px;
  align-self: center;
}
.savednotes{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 58%;
  left:40%;
  top:10%;
  background-color: #282c3472;
  padding: 1%;
  height:fit-content;
  border-radius: 30px;
  height: 85%;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.412) 0px 15px 20px;
}
.savednotes:hover{
  box-shadow: rgba(0, 0, 0, 0.712) 0px 15px 20px;
  transition: 0.5s ease;
}
* {
  scrollbar-width: thin;
  scrollbar-color: black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}
.fullinfo .info .WeatherContent{
  font-size: 25px;
}
.country{
  font-size: 20px;
}
.savednotes .svnt1{
  font-family: 'Dancing Script', cursive;
  font-family: 'Dosis', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.477);
  border-radius: 30px;
  padding: 1%;
  margin: 1%;
  width:30%;
  word-wrap: break-word;
  height: fit-content;
  min-height: 40%;
}
.savednotes .svnt1:hover{
  box-shadow: rgba(0, 0, 0, 0.612) 0px 15px 20px;
  transition: 0.5s ease;
}
.temp{
  font-size:100px
}
.headline{
  font-size: 38px;
  font-weight: 700;
}
.newss{
  font-size: 20px;
  font-weight: 700;
}
nav .navbar-brand{
  left:5%;
  position: absolute;
}
nav img{
  top:0%;
  height:50px;
  width:50px;
  border-radius:10px;
}
@media all and (min-width:450px) and (max-width:950px){

  .fullinfo .info{
    top:30%;
    width:80%;
    left:10%;
    font-size: 22px;
  }
  .newsmain{
    top:10%;
    width:100%;
    left: 0%;
    font-size: 20px;
  }
  .resp1{
    width:80%;
    left:10%;
    padding: 5%;
    height: auto;
  }
  .navbar .ipbx{
    top:65%;
    width:65%;
    left:10%;
  }
  .navbar .ipbt{
    top:65%;
    width:fit-content;
  }
  body{
    background-image: url('QvC7Gw.jpg');
    background-repeat: no-repeat;
    height: 1000%;
    width: 100%;
  }
  .sform{
    position:absolute;
    top:20%;
    left:10%;
    right:10%;
    padding:10%;
    background-color: #282c34;
    border-radius: 30px;
  }
  .sform input{
    text-align: center;
    width:86%;
    padding:1%;
    margin:4%;
    border-radius: 10px;
    height:50px;
  }
  .sform .link1{
    text-decoration: none;
    position:relative;
    left:20%;
    font-size: 120%;
  
  }

  /* Home page css */

}
 
@media only screen and (min-width:400px) and (max-width:720px){
  .FormBox{
    left:15%;
    top:14%;
    width:70%;
    padding: 2%;
  }
  .FormBox form input{
    margin:7%;
    padding: 2%;
  }
  .FormBox form label{
    margin:3%;
    padding: 1%;

  }
  .FormBox form #S{
    width:55%;
    padding: 4%;
    background-color: #282c34;
    color: aliceblue;
    border-radius: 25px;
  }
  
}
@media only screen and (max-width:400px){
  body{
    background-image: none;
    background-color: #282c34;
  }
  .FormBox{
    left:15%;
    top:14%;
    width:70%;
    padding: 2%;
  }
  .FormBox form input{
    margin:7%;
    padding: 2%;
  }
  .FormBox form label{
    margin:3%;
    padding: 1%;

  }
  .FormBox form #S{
    
    width:55%;
    padding: 4%;
    background-color: #282c34;
    color: aliceblue;
    border-radius: 25px;
  }
  
  /* navbar css.. */
  .home nav{
    top: 20%;
    height: 100px;
    /* background-color: #000000; */
    width: 100%;
  }
  nav .link2{
    width:40%;
    top:100%;
    left: 5%;
    height: 37%;
  }
  nav img{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 7%;
  }
  nav .link3{
    width:40%;
    top:100%;
    left: 55%;
    height: 37%;
  }
  nav .ipbx{
    height: 40%;
    top:50%;
    left:5%;
    width:70%;
    border-color:beige;
  }
  .ipbt{
    top:50%;
    min-width:15%;
    width: fit-content;
    height: 40%;
    left:77%;
  }
  .iplo{
    min-width:15%;
    width: fit-content;
    height: 40%;
    top: 3%;
    left: 77%;
  }
  nav .navbar-brand{
    top:0%;
    left:13%;
    position: absolute;
  }


  /* weather updates css and news css */
  .resp1{
    font-size: 10px;
    text-align: center;
    padding: 5.5%;
    width:95%;
    top:22%;
  }
  .fullinfo .info{
    left:5%;
    width:95%;
    top:32%;
    height: 27%;
  }
  .set1{
    display: flex;
  }
  .set1 p{
    margin-left: 3%;
    margin-right: 3%;
  }
  .set2{
    display: flex;
    margin: 3%;
  }
  .mset{
    display: flex ;
  }
  .mset .country{
    margin-top: 18%;
    margin-left: 5%;
  }
  .fullinfo .info .WeatherContent{
    width:95%;
    font-size: 8px;
    height: 100%;
    align-self: center;
  }
  .fullinfo .info .WeatherContent .temp{
    font-size: 40px;
  }
  .fullinfo .info .WeatherContent .country{
    font-size: 7px;
  }
  .newsmain{
    width: 95%;
    left:5%;
    top:62%;
    min-height: 35%;
    height: fit-content;
  }
  .newsmain .more{
    left: 50%;
    width: 35%;
    top:75%;
    font-size: small;
  }
  .headline{
    font-size: 20px;
    font-weight: 700;
  }
  .newss{
    font-size: 12px;
    font-weight: 700;
  }
}
