.App {
  text-align: center;
}
.main{
  display:flex;
  flex-wrap: wrap;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info{
  position:absolute;
  top:50%;
  left:5%;
  right:5%; 
}
body{
  background-image: url('vector-cartoon-landscape-illustration-sun-cloud-hill.jpg');
  background-size: cover;
}
.ipbx{
  width:50%;
  position:absolute;
  left:30%;
  height:70%;
  border-width:4px;
  border-color: transparent;
  border-radius: 20px;
  transition: 0.7s;
  border-style:solid;
}
.ipbt{
  margin-left:1%;
  width:5%;
  position:absolute;
  left:80%;
  height:70%;
  border-color:transparent;
  border-radius: 20px;
  border-width:4px;
  transition: 0.7s;
  border-style:solid;
}
.ipbt:hover{
  border-color:rgba(11, 255, 48);
  background-color: black;
  color:white;
}
.ipbx:hover{
  border-color:rgb(11, 255, 48)
}
.info{
  position: absolute;
  top:35%;
  background-color: #ffffff45;
  padding:5%;
  border-radius:40px;
}
.info{
  width:30%;
  position: absolute;
  top:280%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.fullinfo{
  display:flex;
  flex-direction: row;
}
.info .temp p{
  font-size: 450%;
}
.info .aa{
  display:flex;
  flex-direction: column;
  margin-right:10%;
}
.newsmain{
  width:55%;
  position: absolute;
  left:40%;
  top:280%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.564);
  height:fit-content;
  border-radius:30px;
  margin-right:5%;
  bottom:5%;
}
/* .newsmain .news1{
  margin-left:1%;
  width:10%;
  position:absolute;
  height:200%;
  border-color:transparent;
  border-radius: 20px;
  border-width:4px;
  transition: 0.7s;
  border-style:solid;
} */
.newsmain .news1{
  border-radius: 20px;
  width: 80%;
  position: absolute;
  top:25%;
  left:10%;
  background-color: rgba(255, 255, 255, 0.386);
  height:auto;
  padding:5%;
  font-size: larger;
}
.newsmain .more{
  position: absolute;
  bottom: 0%;
}
.newsmain .news1 img {
  width:25%;
  margin-bottom: 5%;
}

@media screen and (min-width:950px){
  .info{
    position: absolute;
    left:10%;
    width:80;
  }
  .fullinfo{
    display:flex;
    flex-direction: column;
  }
}
.resp1 {
  background-color: aliceblue;
  position: absolute;
  left:20%;
  width:60%;
  height: 100%;
  top:150%;
  padding:1%;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 1000;
}
.more {
  width:55%;
  position: absolute;
  left:40%;
  top:500%;
}
.newsmain .news1 .more{
    height: 45px;
    position: absolute;
    top:90%;
    width:100%;
    left:0%;
    border-color: #282c34;
    background-color: #282c34;
    border-radius: 20px;
    color:aliceblue;
    font-weight: 700;
}